<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
  
    <title>METAFIN</title>
  
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
  
    <!-- Vendor CSS Files -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="vendor/aos/aos.css" rel="stylesheet">
    <link href="vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  
    <!-- Template Main CSS File -->
    <link href="css/main.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center" style="background-color: #364d59;">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="/" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="img/logo.png" alt=""> -->
        <h1>metaFIN<span>.</span></h1>
      </a>

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/account_details">Transactions</a></li>
          <li><a href="/currency_api">Currency API</a></li>
          <li><a href="/project_references" class="active">References</a></li>
          <li><a href="/contact">Contact Info</a></li>
        </ul>
      </nav><!-- .navbar -->


    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Our Projects Section ======= -->
    <section id="projects" class="projects" style="padding-top:150px;">
       <div class="container" data-aos="fade-up">
   
         <div class="section-header">
           <h2>References</h2>
         </div>
   
         <div class="portfolio-isotope" data-portfolio-filter="*" data-portfolio-layout="masonry" data-portfolio-sort="original-order">
   
           <ul class="portfolio-flters" data-aos="fade-up" data-aos-delay="100">
             <li data-filter=".filter-remodeling" class="filter-active">Website Template & API</li>
             <li data-filter=".filter-construction">Images</li>
           </ul><!-- End Projects Filters -->
   
            <div class="row gy-4 portfolio-container" data-aos="fade-up" data-aos-delay="200">
   
                <div class="col-lg-4 col-md-6 portfolio-item filter-remodeling">
                  <div class="portfolio-content h-100">
                    <img src="img/template_credit.PNG" class="img-fluid" alt="">
                    <div class="portfolio-info">
                      <h4>Template Reference</h4>
                      <p>https://bootstrapmade.com/upconstruction-bootstrap-construction-website-template/download/</p>
                    </div>
                  </div>
                </div><!-- End Projects Item -->
                <div class="col-lg-4 col-md-6 portfolio-item filter-remodeling">
                  <div class="portfolio-content h-100">
                    <img src="img/api_credit.PNG" class="img-fluid" alt="">
                    <div class="portfolio-info">
                      <h4>API Reference</h4>
                      <p style="font-size:12px;">https://apilayer.com/marketplace/exchangerates_data-api</p>
                    </div>
                  </div>
                </div><!-- End Projects Item -->
   
               
               <div class="col-lg-4 col-md-6 portfolio-item filter-construction">
                <div class="portfolio-content h-100">
                 <img src="img/hero-carousel/financeBuild.jpg" class="img-fluid" alt="">
                 <div class="portfolio-info">
                   <p>Image Downloaded from https://www.pexels.com/</p>
                 </div>
                </div>
               </div>
               <div class="col-lg-4 col-md-6 portfolio-item filter-construction">
                <div class="portfolio-content h-100">
                 <img src="img/hero-carousel/coin.jpg" class="img-fluid" alt="">
                 <div class="portfolio-info">
                   <p>Image Downloaded from https://www.pexels.com/</p>
                 </div>
                </div>
               </div>
               <div class="col-lg-4 col-md-6 portfolio-item filter-construction">
                <div class="portfolio-content h-100">
                 <img src="img/hero-carousel/coinTwo.jpg" class="img-fluid" alt="">
                 <div class="portfolio-info">
                   <p>Image Downloaded from https://www.pexels.com/</p>
                 </div>
                </div>
               </div>
               <div class="col-lg-4 col-md-6 portfolio-item filter-construction">
                <div class="portfolio-content h-100">
                 <img src="/img/checkBalance.jpg" class="img-fluid" alt="">
                 <div class="portfolio-info">
                   <p>Image Downloaded from https://www.pexels.com/</p>
                 </div>
                </div>
               </div>
               <div class="col-lg-4 col-md-6 portfolio-item filter-construction">
                <div class="portfolio-content h-100">
                 <img src="/img/connect.jpg" class="img-fluid" alt="">
                 <div class="portfolio-info">
                   <p>Image Downloaded from https://www.pexels.com/</p>
                 </div>
                </div>
               </div>
               <div class="col-lg-4 col-md-6 portfolio-item filter-construction">
                <div class="portfolio-content h-100">
                 <img src="/img/balance.jpg" class="img-fluid" alt="">
                 <div class="portfolio-info">
                   <p>Image Downloaded from https://www.pexels.com/</p>
                 </div>
                </div>
               </div>
   
   
            </div><!-- End Projects Container -->
   
         </div>
   
       </div>
    </section><!-- End Our Projects Section -->
   
  </main><!-- End #main -->


  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="vendor/aos/aos.js"></script>
  <script src="vendor/glightbox/js/glightbox.min.js"></script>
  <script src="vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="vendor/swiper/swiper-bundle.min.js"></script>
  <script src="vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="js/main.js"></script>
  <script src="js/custom.js"></script>

</body>

</html>